<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil - BookUnit</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="perfil.component.css">
</head>
<body class="bg-gray-900 text-gray-300">
  <div class="flex">
    <!-- Panel lateral -->
    <div class="sidebar w-1/4 min-h-screen p-4 bg-gray-800">
      <h1 class="text-3xl font-bold mb-4 text-center flex items-center text-white">
        <i class="fas fa-book-open mr-2"></i>
        BookUnit
      </h1>
      <ul class="space-y-4 text-gray-300">
        <li class="flex items-center">
          <i class="fas fa-chart-pie"></i>
          <a href="/administracion" class="ml-2 hover:text-white">Administración</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-users"></i>
          <a href="/usuarios" class="ml-2 hover:text-white">Usuarios</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-book"></i>
          <a href="/libros" class="ml-2 hover:text-white">Libros</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-file-pdf"></i>
          <a href="/libros-digitales" class="ml-2 hover:text-white">Libros Digitales</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-shopping-bag"></i>
          <a href="/prestamos" class="ml-2 hover:text-white">Préstamos</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-exclamation-circle"></i>
          <a href="/extravio" class="ml-2 hover:text-white">Extravio</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-donate"></i>
          <a href="/donaciones" class="ml-2 hover:text-white">Donaciones</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-user-circle"></i>
          <a href="/perfil" class="ml-2 hover:text-white">Perfil</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-gem"></i>
          <a href="/cambiar-a-pro" class="ml-2 hover:text-white">Cambiar a Pro</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-question-circle"></i>
          <a href="/ayuda" class="ml-2 hover:text-white">Ayuda</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-sign-in-alt"></i>
          <a class="ml-2 hover:text-blue-500 hover:underline" (click)="onSignOut()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>

    <!-- Área de trabajo principal -->
    <div class="main-area w-3/4 p-6">
      <div class="flex flex-col items-center">
        <div class="foto_perfil">
          <img src="foto/diego_salvaje.jpeg" alt="Foto de perfil">
        </div>
        <div class="contenedor">
          <div class="grupo">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="input-field" placeholder="Nombre de Usuario">
          </div>
          <div class="grupo">
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" class="input-field" placeholder="Apellidos de Usuario">
          </div>
          <div class="grupo">
            <label for="no-cuenta">No de cuenta</label>
            <input type="text" id="no-cuenta" class="input-field" placeholder="Número de control">
          </div>
          <div class="grupo">
            <label for="tipo-cuenta">Tipo de cuenta</label>
            <input type="text" id="tipo-cuenta" class="input-field" placeholder="Si es admin o usuario">
          </div>
        </div>        
      </div>
    </div>
  </div>
</body>
</html>