<div class="flex">
    <!-- Sidebar -->
    <div class="sidebar w-1/4 min-h-screen p-4 bg-gray-800">
      <h1 class="text-3xl font-bold mb-4 text-center flex items-center text-white">
        <i class="fas fa-book mr-2"></i>
        BookUnit
      </h1>
      <ul class="space-y-4 text-gray-300">
        <li class="flex items-center">
          <i class="fas fa-chart-pie"></i>
          <a href="/administracion" class="ml-2 hover:text-white">Administración</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-users"></i>
          <a href="/usuarios" class="ml-2 hover:text-white">Usuarios</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-book"></i>
          <a href="/libros" class="ml-2 hover:text-white">Libros</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-file-pdf"></i>
          <a href="/libros-digitales" class="ml-2 hover:text-white">Libros Digitales</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-shopping-bag"></i>
          <a href="/prestamos" class="ml-2 hover:text-white">Préstamos</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-exclamation-circle"></i>
          <a href="/extravio" class="ml-2 hover:text-white">Extravio</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-donate"></i>
          <a href="/donaciones" class="ml-2 hover:text-white">Donaciones</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-user-circle"></i>
          <a href="/perfil" class="ml-2 hover:text-white">Perfil</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-gem"></i>
          <a href="/cambiar-a-pro" class="ml-2 hover:text-white">Cambiar a Pro</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-question-circle"></i>
          <a href="/ayuda" class="ml-2 hover:text-white">Ayuda</a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-sign-in-alt"></i>
          <a href="/signin" class="ml-2 hover:text-white">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  
    <!-- Main Content -->
    <div class="main-area w-3/4 bg-[#334155] min-h-screen p-8">
      <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-6 text-white text-center">Libros</h1>
  
        <!-- Botón para abrir el formulario -->
        <div class="flex justify-end mb-4">
          <a href="/formulario-libros">
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded shadow-md">
              Nuevo Libro
            </button>
          </a>
        </div>
  
         <!-- Tabla de libros -->
      <div class="overflow-x-auto">
        <table class="w-full border-collapse shadow-lg">
          <thead>
            <tr class="bg-gradient-to-r from-blue-500 to-purple-500 text-white">
              <th class="border border-gray-500 p-3 text-left">Título</th>
              <th class="border border-gray-500 p-3 text-left">Autor</th>
              <th class="border border-gray-500 p-3 text-left">Editorial</th>
              <th class="border border-gray-500 p-3 text-left">ISBN</th>
              <th class="border border-gray-500 p-3 text-left">Categoría</th>
              <th class="border border-gray-500 p-3 text-left">Idioma</th>
              <th class="border border-gray-500 p-3 text-left">Copias Totales</th>
              <th class="border border-gray-500 p-3 text-left">Copias Disponibles</th>
              <th class="border border-gray-500 p-3 text-left">Fecha Publicación</th>
              <th class="border border-gray-500 p-3 text-left">Descripción</th>
              <th class="border border-gray-500 p-3 text-left">Activo</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  