<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRÉSTAMOS | BookUnit</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="prestamos.component.css">
</head>

<body class="bg-gray-900 text-gray-300">
  <div class="flex">

    <!-- Panel lateral -->
    <div id="sidebar" class="transition-all duration-300 w-16 md:w-64 bg-gray-800 min-h-screen p-4">
      <h1 class="text-3xl font-bold mb-4 text-center hidden md:flex items-center text-white">
        <li class="flex items-center">
          <a href="/dashboard" class="hover:text-white flex items-center w-full">
            <i class="fas fa-book-open mr-2"></i>
            <span class="ml-2 hidden md:inline">BookUnit</span>
          </a>
        </li>
      </h1>
      <ul class="space-y-4 text-gray-300">
        <li class="flex items-center">
          <a href="/administracion" class="hover:text-white flex items-center w-full">
            <i class="fas fa-chart-pie"></i>
            <span class="ml-2 hidden md:inline">Administración</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/usuarios" class="hover:text-white flex items-center w-full">
            <i class="fas fa-users"></i>
            <span class="ml-2 hidden md:inline">Usuarios</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/libros" class="hover:text-white flex items-center w-full">
            <i class="fas fa-book"></i>
            <span class="ml-2 hidden md:inline">Libros</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/libros-digitales" class="hover:text-white flex items-center w-full">
            <i class="fas fa-file-pdf"></i>
            <span class="ml-2 hidden md:inline">Libros Digitales</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/prestamos" class="hover:text-white flex items-center w-full">
            <i class="fas fa-shopping-bag"></i>
            <span class="ml-2 hidden md:inline">Préstamos</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/extravio" class="hover:text-white flex items-center w-full">
            <i class="fas fa-exclamation-circle"></i>
            <span class="ml-2 hidden md:inline">Extravio</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/donaciones" class="hover:text-white flex items-center w-full">
            <i class="fas fa-donate"></i>
            <span class="ml-2 hidden md:inline">Donaciones</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/perfil" class="hover:text-white flex items-center w-full">
            <i class="fas fa-user-circle"></i>
            <span class="ml-2 hidden md:inline">Perfil</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/pro" class="hover:text-white flex items-center w-full">
            <i class="fas fa-gem"></i>
            <span class="ml-2 hidden md:inline">Cambiar a Pro</span>
          </a>
        </li>
        <li class="flex items-center">
          <a href="/ayuda" class="hover:text-white flex items-center w-full">
            <i class="fas fa-question-circle"></i>
            <span class="ml-2 hidden md:inline">Ayuda</span>
          </a>
        </li>
        <li class="flex items-center">
          <i class="fas fa-sign-in-alt"></i>
          <a class="ml-2 hidden md:inline hover:text-blue-500 hover:underline cursor-pointer" (click)="onSignOut()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>

    <!-- Contenido del módulo Préstamos -->
    <div class="container mx-auto p-6 bg-gray-900 text-gray-300">
      <h2 class="text-2xl font-bold text-white mb-4 mt-6">PRÉSTAMOS</h2>

      <!-- Tabla del Historial -->
      <div class="mt-8 mb-4">
        <table class="w-full text-gray-300 bg-gray-800 rounded-md">
          <thead>
            <tr class="bg-gray-700">
              <th class="p-2">Usuario</th>
              <th class="p-2">Libro</th>
              <th class="p-2">Día de Préstamo</th>
              <th class="p-2">Día de Devolución</th>
              <th class="p-2">Estado</th>
              <th class="p-2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-800 text-gray-300 hover:bg-gray-700 transition duration-200">
              <td class="border border-gray-500 p-3">Ana Figueroa</td>
              <td class="border border-gray-500 p-3">Cien años de soledad</td>
              <td class="border border-gray-500 p-3">05/may./2024</td>
              <td class="border border-gray-500 p-3">05/jun./2024</td>
              <td class="border border-gray-500 p-3">Finalizado</td>
              <td class="border border-gray-500 p-3">
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md mb-2 mr-2">
                  Editar
                </button>
                <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow-md">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <!-- Botón para abrir el formulario -->
      <div class="flex justify-medium mb-4">
        <a href="/historial-prestamos">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded shadow-md">
            Nuevo
          </button>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
